{% extends "home/base.html" %}
{% block content %}
    <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      /* background-color: #15a79e; */
    }
    

    .Features   {
        padding-top: 135px;
    }

    .feature-section {
    padding: 20px;
    text-align: center;
    background-color: #02008b;
    color: white;
    margin-top:  72px;
    }

    .column {
        margin-bottom: 11%;
    }
    </style>
    <div class="feature-section">
        <h2>
        <span style="color: white">Features</span>
      </h2>
        <p style="color: white">RECREATING A SPACE FOR PEOPLE TO SAVE AND INVEST TOGETHER.
        </p>
      </div>
      <div class="mid-last-container">
		<div class="container">
	   <div class="row">
			  <div class="col">
				 <div class="card" style="background-color: #1c89db;">
				   <img class="cards" src="../../../static/home/img/team-work.png" width="221px" height="221px">
					<span class="card-title card-content">Team-Up</span>
					<span class= "card-content">Learn More</span>
				 </div>
			  </div>	   
			  <div class="col">
				 <div class="card" style="background-color: #fec612;">
				   <img class="cards" src="../../../static/home/img/savemoney.svg" width="221px" height="221px"> 
					<span class="card-title card-content">Save</span>
					<span class= "card-content">Learn More</span>
					  </div>
				   </div>
			  <div class="col">
				 <div class="card" style="background-color: #4cdbc4;">
				   <img class="cards" src="../../../static/home/img/savingup.png" width="221px" height="221px">
					<span class="card-title card-content">Invest</span>
					<span class= "card-content">Learn More</span>
				 </div>
			  </div>
		   </div>
	   </div>
   </div>
{% endblock content %}
