{% extends "home/base.html" %}
{% block content %}
    <style>
     .Features   {
        padding-top: 135px;
    }

    .column {
        margin-bottom: 11%;
    }
    </style>
    <div class='Features'> 
        <h2>Features</h2>
    </div>
    <div class= 'row'>
    <div class="column">
        <div class="card">
            <img class="cards" src="../../../static/home/img/team-work.png"  width=221px
            height=221px>
            <span class="card-title">Team-Up</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </span>
        </div>
    </div>	   
    <div class="column">
        <div class="card">
            <img class="cards" src="../../../static/home/img/savemoney.svg" width=221px
            height=221px> 
            <span class="card-title">Save</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </span>
            </div>
            </div>
    <div class="column">
        <div class="card">
            <img class="cards" src="../../../static/home/img/savingup.png" width=227px
            height=227px>
            <span class="card-title">Invest</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </span>
        </div>
    </div>
    </div> 
{% endblock content %}
