{% extends "home/base.html" %}
{% block content %}

<div id="Homepage___01">
	<div class="media top_container_header">
	   <div id="safe-space">
		  <span>Safe space to </span><span style="color:rgba(172,81,164,1);">save</span><span style="color:rgba(244,146,194,1);"> </span><br><span>and </span><span style="color:rgba(172,81,164,1);">invest</span><span> together.</span>
	   </div>
	   <div id="adulting-money-save-invest">
		  <span>Adulting. Money. Save. Teamwork. Responsible.</span>
	   </div>
	   <div class="Get_Started_btn" onclick="application.goToTargetView(event)">
		   <button class="button button1"> Get Started </button>
		 </div>
	   <img id="cubes" src="../../../static/home/img/cubes.png">
	</div>
	 <div class="middle_container_connect">
		  <div class="Rectangle_7">
		  		<image id="Mask_Group_1" x="0" y="0" width="100%" height="100%" src="../../../static/home/img/Mask_Group_1_cz_pattern.png"></image>
				<img  id= "homepagebubbles_1" width="100%" height= "100%"src= "../../../static/home/img/bubbles.png">
				<img  id= "homepagebubbles_2" width="100%" height= "100%"src= "../../../static/home/img/bubble_1.png"> 
				<div id="connect-title-content">
					<span>Connect</span><span style="color:rgba(47,7,7,1);"> with people <br> that will </span><span>support</span><span style="color:rgba(47,7,7,1);"> you.</span>
				</div>
				<div id="connect-content">
					<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
				 </div>
			</div>

	   <div id="sam">
		  <div class="client-box">
			 <span class="dot"></span>
			 <div class='client-sam'>
				<span>Samuel G.</span><span style="font-style:normal;font-weight:normal;"> commented: I deposited $50.00 today! </span><span style="color:rgba(188,188,188,1);">2m</span>
			 </div>
			 <img  id= "sent_message" width="100%" height= "100%"src= "../../../static/home/img/send_message.png">
		  </div>
	   </div> 
	   <div id="adam">
		  <div class="client-box">
			 <span class="dot"></span>
			 <div class='client-adam'>
				<span >Adam H.</span><span class= "clientAdam" style="font-style:normal;font-weight:normal;"> commented: Awesome job Sam! </span><span class= "clientAdam" style="color:rgba(188,188,188,1);">1m</span>
			 </div>
			 <img  id= "sent_message" width="100%" height= "100%"src= "../../../static/home/img/reply_message.png">
		  </div>
	   </div> 
	   <div id="josephine">
		  <div class="client-box">
			 <span class="dot"></span>
			 <div class='client-jo'>
				<span>Josephine C.</span><span style="font-style:normal;font-weight:normal;"> commented: Nice, I will deposit tomorrow. </span><span style="color:rgba(188,188,188,1);">20sec</span>
			 </div>
			 <img  id= "sent_message" width="100%" height= "100%"src= "../../../static/home/img/reply_message.png">
		  </div>
	   </div> 
	   <div id="ray">
		  <div class="client-box">
			 <span class="dot"></span>
			 <div class= 'client-ray'>
				<span>Raymond S.</span><span style="font-style:normal;font-weight:normal;"> commented: Let’s keep saving everyone. </span><span style="color:rgba(188,188,188,1);">10sec</span>
			 </div>
			 <img  id= "sent_message" width="100%" height= "100%"src= "../../../static/home/img/reply_message.png">
		  </div>
	   </div>
	</div>
	<div class='Features'> 
		<h2>Features</h2>
	</div>
	<div class= 'row'>
	   <div class="column">
		  <div class="card">
			<img class="cards" src="../../../static/home/img/team-work.png"  width=221px
			height=221px>
			 <span class="card-title">Team-Up</span>
			 <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
				incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
				exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </span>
		  </div>
	   </div>	   
	   <div class="column">
		  <div class="card">
			<img class="cards" src="../../../static/home/img/saving.png" width=221px
			height=221px> 
			 <span class="card-title">Save</span>
			 <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
				incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
				exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </span>
			   </div>
			</div>
	   <div class="column">
		  <div class="card">
			<img class="cards" src="../../../static/home/img/investment.jpg" width=227px
			height=227px>
			 <span class="card-title">Invest</span>
			 <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
				incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
				exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </span>
		  </div>
	   </div>
	</div> 
	<div class= "Lastcontainer">
	   <div id="start-today">
		  <span>Start Investing Today</span>
	   </div>
	   <div id="adulting-money-save-invest-2">
		  <span>Adulting. Money. Save. Teamwork. Responsible.</span>
	   </div>
	   <div onclick="application.goToTargetView(event)" id="Group_7"></div>
	   <div class="Get_Started">
		  <button class="button button1"> Get Started </button>
	   </div>
	</div>
 </div>

{% endblock content %}
