{% extends "home/base.html" %}
{% block content %}
<div id="Homepage___01">
	<svg class="Rectangle_2">
		<rect fill="rgba(70,33,109,1)" id="Rectangle_2" rx="36" ry="36" x="0" y="0" width="222" height="72">
		</rect>
	</svg>
	<div id="safe-space">
		<span>Safe space to </span><span style="color:rgba(172,81,164,1);">save</span><span style="color:rgba(244,146,194,1);"> </span><span>and </span><span style="color:rgba(172,81,164,1);">invest</span><span> together.</span>
	</div>
	<div id="adulting-money-save-invest">
		<span>Adulting. Money. Save. Teamwork. Responsible.</span>
	</div>
	<img id="cubes" src="../../../static/home/img/cubesxd.png">
	<div onclick="application.goToTargetView(event)" id="Group_7">
		<div id="Get_Started_btn">
			<button class="button button1"> Get Started </button>
		</div>
	</div>
	<div id="Group_24">
		<svg class="Rectangle_7">
			<rect fill="rgba(253,253,253,1)" stroke="rgba(255,255,255,1)" stroke-width="1px" stroke-linejoin="miter"
			 stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" 
			 id="Rectangle_7" rx="0" ry="0" x="0" y="0">
			</rect>
		</svg>
		<image id="Mask_Group_1" x="0" y="0" width="100%" height="100%" src="../../../static/home/img/Mask_Group_1_cz_pattern.png"></image>
	</div>
	<div id="Connect_with_people_that_will_">
		<span>Connect</span><span style="color:rgba(47,7,7,1);"> with people <br> that will </span><span>support</span><span style="color:rgba(47,7,7,1);"> you.</span>
	</div>
	<div id="Lorem_ipsum_dolor_sit_amet__co">
		<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
	</div>
	<div id="Group_49">
		<div id="Group_2">
			<svg class="Rectangle_9_ct">
				<rect fill="rgba(255,255,255,1)" id="Rectangle_9_ct" rx="10" ry="10" x="0" y="0" width="370" height="50">
				</rect>
			</svg>
			<svg class="Ellipse_3_cu">
				<ellipse fill="rgba(0,0,0,1)" stroke="rgba(57,17,165,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Ellipse_3_cu" rx="30" ry="30" cx="30" cy="30">
				</ellipse>
			</svg>
			<div id="Samuel_G__commented__I_deposit">
				<span>Samuel G.</span><span style="font-style:normal;font-weight:normal;"> commented: I deposited $50.00 today! </span><span style="color:rgba(188,188,188,1);">2m</span>
			</div>
		</div>
		<div id="Group_39">
			<svg class="Polygon_1" viewBox="0 0 26.801 30.406">
				<path fill="rgba(8,0,0,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Polygon_1" d="M 13.40043067932129 0 L 26.80086135864258 30.40570259094238 L 0 30.40570259094238 Z">
				</path>
			</svg>
			<svg class="Polygon_2" viewBox="0 0 7.883 28.041">
				<path fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Polygon_2" d="M 3.941303014755249 0 L 7.882606029510498 28.04092025756836 L 0 28.04092025756836 Z">
				</path>
			</svg>
		</div>
	</div>

{% endblock content %}
