{% extends "home/base.html" %}
{% block content %}
<div id="Homepage___01">
	<div class="top_container_header">
		<div class="container">
		<div class="row">
		   <div  class="col-md-5  safe-space" style="padding-top: 11rem;">
				<div class= "safe-content"> 
						<span>Safe space to </span>
					  <span>save</span>
					  <br><span>and </span>
					  <span>invest</span>
						 <span> together.</span> 
				</div>
				<div id="adulting-money-save-invest">
					<span>
						Save with friends to reach your goals faster
						and be in control of your wealth by keeping track of your investments.

						</span>
						<!-- Adulting. Money. Save. Teamwork. Responsible. -->
				</div>
				<div class="get-started-btn">
					<a style="text-decoration: none;" class="btn btn-primary" href="/register/">Get Started</a>
				</div>
		   </div>
			 <div class="col" style="padding-top: 4rem;">
				<img class="img-display" style="width:133%;opacity: 100%;" height="100%" src="../../../static/home/img/4903.png"></div>
		</div>
	   </div>
	</div>
	<div class="middle-container">
		<div class="container" style="display: flex;">
			<div class="row middle-content">
				<div class="col-sm-7 connect-image"><img class="img-display" width="100%" height="100%" src="../../../static/home/img/4575.png" style="opacity:100%"></div>
			<div class="title-content col-sm-4">
				<span>Stay connected.
				<div class="connect-content">
					<p> Build a community to save together while reaching new investment goals and encourage peers to invest into different assets in the process
					</p>
				 </div>
			</div>

			  </div>
			</div>
		</div>
	<!-- <div class='Features'> 
		<h2>Features</h2>
	</div> -->
	<div class="mid-last-container">
		<div class="container">
	   <div class="row">
				<div class="col" id="side1">
					<div class="card" style="background-color: #1c89db;">
					<img class="cards" src="../../../static/home/img/team-work.png" width="221px" height="221px">
						<span class="card-title card-content">Team-Up</span>
						<a style="text-decoration: none;" class="card-content" href="/feature/">Learn More</a>
						<!-- <span class= "card-content">Learn More</span> -->
					</div>
				</div>	   
				<div class="col" id="side2">
					<div class="card" style="background-color: #fec612;">
					<img class="cards" src="../../../static/home/img/savemoney.svg" width="221px" height="221px"> 
						<span class="card-title card-content">Save</span>
						<a style="text-decoration: none;" class="card-content" href="/feature/">Learn More</a>
						<!-- <span class= "card-content">Learn More</span> -->
						</div>
					</div>
				<div class="col" id="side3">
					<div class="card" style="background-color: #4cdbc4;">
					<img class="cards" src="../../../static/home/img/savingup.png" width="221px" height="221px">
						<span class="card-title card-content">Invest</span>
						<a style="text-decoration: none;" class="card-content" href="/feature/">Learn More</a>
						<!-- <span class= "card-content">Learn More</span> -->
					</div>
				</div>
		   </div>
		   <div class="row">
				<div class="col-md-6"id="pre">
					Previous
				</div>
				<div class="col-md-6" id="next">
					Next
				</div>
			</div>
	   </div>
   </div>
	<div class= "Lastcontainer">
		<div class="container">
			<div id="start-today">
				<span>Start Investing Today</span>
			</div>
			<div id="adulting-money-save-invest-2">
				<span>Adulting. Money. Save. Teamwork. Responsible.</span>
			</div>
			<div class="Get_Started">
				<a style="text-decoration: none;" class="btn btn-primary lst-btn" href="{% url 'register' %}">Get Started</a>
			</div>
	   </div>
	</div>
 </div>


{% endblock content %}


<!-- <a href="https://www.freepik.com/free-photos-vectors/business">Business vector created by pch.vector - www.freepik.com</a> -->

			 <!-- <img  id= "sent_message" width="100%" height= "100%"src= "../../../static/home/img/send_message.png"> -->
			 <!-- <img  id= "sent_message" width="100%" height= "100%"src= "../../../static/home/img/reply_message.png"> -->