<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>newhome</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="Homepage___01.css"/>
<script id="applicationScript" type="text/javascript" src="Homepage___01.js"></script>
</head>
<body>
<div id="Homepage___01">
	<svg class="Rectangle_2">
		<rect fill="rgba(70,33,109,1)" id="Rectangle_2" rx="36" ry="36" x="0" y="0" width="222" height="72">
		</rect>
	</svg>
	<div id="Safe_space_to_save_and_invest_">
		<span>Safe space to </span><span style="color:rgba(172,81,164,1);">save</span><span style="color:rgba(244,146,194,1);"> </span><span>and </span><span style="color:rgba(172,81,164,1);">invest</span><span> together.</span>
	</div>
	<div id="Adulting__Money__Save__Teamwor">
		<span>Adulting. Money. Save. Teamwork. Responsible.</span>
	</div>
	<div onclick="application.goToTargetView(event)" id="Get_Started">
		<span>Get Started</span>
	</div>
	<div id="arrow">
		<svg class="Rectangle_6">
			<rect fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_6" rx="0" ry="0" x="0" y="0" width="25" height="25">
			</rect>
		</svg>
		<div id="ic_keyboard_arrow_down_48px">
			<svg class="Path_3" viewBox="12 16.42 25.422 15.709">
				<path fill="rgba(255,255,255,1)" id="Path_3" d="M 14.99766063690186 16.42000007629395 L 24.7109375 26.13327217102051 L 34.42420959472656 16.42000007629395 L 37.421875 19.41766166687012 L 24.7109375 32.12859725952148 L 11.99999904632568 19.41766166687012 L 14.99766063690186 16.42000007629395 Z">
				</path>
			</svg>
		</div>
	</div>
	<div id="Group_1">
		<svg class="Path_4" viewBox="364.674 792.375 1 1">
			<path fill="rgba(70,33,109,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Path_4" d="M 364.6740112304688 792.3751831054688 L 364.6740112304688 792.3751831054688 Z">
			</path>
		</svg>
		<svg class="Path_5" viewBox="364.674 792.375 1 1">
			<path fill="rgba(70,33,109,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Path_5" d="M 364.6740112304688 792.3751831054688 L 364.6740112304688 792.3751831054688 Z">
			</path>
		</svg>
	</div>
	<div id="Group_24">
		<svg class="Rectangle_7">
			<rect fill="rgba(253,253,253,1)" stroke="rgba(255,255,255,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_7" rx="0" ry="0" x="0" y="0" width="1858" height="924">
			</rect>
		</svg>
		<div id="Mask_Group_1">
		<svg style="width:inherit;height:inherit;overflow:visible;">
			<rect fill="url(#Mask_Group_1_cz_pattern)" width="100%" height="100%"></rect>
				<pattern elementId="Mask_Group_1_cz" id="Mask_Group_1_cz_pattern" x="0" y="0" width="100%" height="100%">
					<image x="0" y="0" width="100%" height="100%" href="Mask_Group_1_cz_pattern.png" xlink:href="Mask_Group_1_cz_pattern.png"></image>
				</pattern>
				</svg>
			</div>
	</div>
	<div id="Group_3">
		<svg class="Rectangle_9">
			<rect fill="rgba(255,255,255,1)" id="Rectangle_9" rx="10" ry="10" x="0" y="0" width="528" height="110">
			</rect>
		</svg>
		<svg class="Ellipse_3">
			<ellipse fill="rgba(0,0,0,1)" stroke="rgba(57,17,165,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Ellipse_3" rx="35" ry="35" cx="35" cy="35">
			</ellipse>
		</svg>
		<div id="Adam_H__commented__Awesome_job">
			<span>Adam H.</span><span style="font-style:normal;font-weight:normal;"> commented: Awesome job man! </span><span style="color:rgba(188,188,188,1);">1m</span>
		</div>
	</div>
	<div id="Group_4">
		<svg class="Rectangle_9_">
			<rect fill="rgba(255,255,255,1)" id="Rectangle_9_" rx="10" ry="10" x="0" y="0" width="606" height="110">
			</rect>
		</svg>
		<svg class="Ellipse_3_ba">
			<ellipse fill="rgba(13,0,0,1)" stroke="rgba(57,17,165,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Ellipse_3_ba" rx="35" ry="35" cx="35" cy="35">
			</ellipse>
		</svg>
		<div id="Josephine_C__commented__Nice__">
			<span>Josephine C.</span><span style="font-style:normal;font-weight:normal;"> commented: Nice, I will deposit tomorrow. </span><span style="color:rgba(188,188,188,1);">20sec</span>
		</div>
	</div>
	<div id="Group_5">
		<div id="Group_6">
			<svg class="Rectangle_9_be">
				<rect fill="rgba(255,255,255,1)" id="Rectangle_9_be" rx="10" ry="10" x="0" y="0" width="607" height="110">
				</rect>
			</svg>
			<svg class="Ellipse_3_bf">
				<ellipse fill="rgba(0,0,0,1)" stroke="rgba(57,17,165,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Ellipse_3_bf" rx="35" ry="35" cx="35" cy="35">
				</ellipse>
			</svg>
			<div id="Raymond_S__commented__Let_s_ke">
				<span>Raymond S.</span><span style="font-style:normal;font-weight:normal;"> commented: Let’s keep saving everyone. </span><span style="color:rgba(188,188,188,1);">10sec</span>
			</div>
		</div>
	</div>
	<svg class="Rectangle_10">
		<rect fill="rgba(241,248,248,1)" id="Rectangle_10" rx="0" ry="0" x="0" y="0" width="1920" height="1535">
		</rect>
	</svg>
	<svg class="Rectangle_11">
		<rect fill="rgba(70,33,109,1)" stroke="rgba(0,167,158,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_11" rx="0" ry="0" x="0" y="0" width="1920" height="128">
		</rect>
	</svg>
	<div id="Features_">
		<span>Features </span>
	</div>
	<svg class="Ellipse_7">
		<ellipse fill="rgba(0,167,158,0.18)" stroke="rgba(0,167,158,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Ellipse_7" rx="68.5" ry="68.5" cx="68.5" cy="68.5">
		</ellipse>
	</svg>
	<div id="Lorem_ipsum_dolor_sit_amet__co">
		<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
	</div>
	<div id="Connect_with_people_that_will_">
		<span>Connect</span><span style="color:rgba(47,7,7,1);"> with people that will </span><span>support</span><span style="color:rgba(47,7,7,1);"> you.</span>
	</div>
	<div id="Copyright_Website_belongs_to_J">
		<span>Copyright Website belongs to John Daniel</span>
	</div>
	<div id="Start_investing_today">
		<span>Start investing today</span>
	</div>
	<div onclick="application.goToTargetView(event)" id="Group_7">
		<svg class="Rectangle_15">
			<rect fill="rgba(0,167,158,1)" id="Rectangle_15" rx="36" ry="36" x="0" y="0" width="222" height="72">
			</rect>
		</svg>
		<div id="Get_Started_br">
			<span>Get Started</span>
		</div>
	</div>
	<div id="Adulting__Money__Save__Teamwor_bs">
		<span>Adulting. Money. Save. Teamwork. Responsible.</span>
	</div>
	<img id="cubes" src="cubes.png" srcset="cubes.png 1x, cubes@2x.png 2x">
	<div id="Group_11">
		<svg class="Rectangle_13">
			<rect fill="rgba(255,255,255,1)" stroke="rgba(255,255,255,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_13" rx="0" ry="0" x="0" y="0" width="487" height="704">
			</rect>
		</svg>
		<div id="Team_Up">
			<span>Team-Up</span>
		</div>
		<div id="Lorem_ipsum_dolor_sit_amet__co_bx">
			<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </span>
		</div>
		<img id="hands" src="hands.png" srcset="hands.png 1x, hands@2x.png 2x">
	</div>
	<div id="Group_10">
		<svg class="Rectangle_14">
			<rect fill="rgba(255,255,255,1)" id="Rectangle_14" rx="0" ry="0" x="0" y="0" width="486" height="704">
			</rect>
		</svg>
		<div id="Save">
			<span>Save</span>
		</div>
		<div id="Lorem_ipsum_dolor_sit_amet__co_b">
			<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </span>
		</div>
		<div id="Group_8">
			<img id="saving" src="saving.png" srcset="saving.png 1x, saving@2x.png 2x">
			<svg class="Path_7" viewBox="0 0 211.042 211.042">
				<path fill="transparent" stroke="rgba(248,248,248,1)" stroke-width="0.5px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Path_7" d="M 105.5211944580078 0 C 163.7989349365234 0 211.0423889160156 47.24344635009766 211.0423889160156 105.5211944580078 C 211.0423889160156 163.7989349365234 163.7989349365234 211.0423889160156 105.5211944580078 211.0423889160156 C 47.24344635009766 211.0423889160156 0 163.7989349365234 0 105.5211944580078 C 0 47.24344635009766 47.24344635009766 0 105.5211944580078 0 Z">
				</path>
			</svg>
		</div>
	</div>
	<svg class="Rectangle_16">
		<rect fill="rgba(255,255,255,1)" id="Rectangle_16" rx="0" ry="0" x="0" y="0" width="486" height="704">
		</rect>
	</svg>
	<div id="Invest">
		<span>Invest</span>
	</div>
	<div id="Lorem_ipsum_dolor_sit_amet__co_ca">
		<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </span>
	</div>
	<svg class="Path_7_b" viewBox="0 0 211.042 211.042">
		<path fill="transparent" stroke="rgba(248,248,248,1)" stroke-width="0.5px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Path_7_b" d="M 105.5211944580078 0 C 163.7989349365234 0 211.0423889160156 47.24344635009766 211.0423889160156 105.5211944580078 C 211.0423889160156 163.7989349365234 163.7989349365234 211.0423889160156 105.5211944580078 211.0423889160156 C 47.24344635009766 211.0423889160156 0 163.7989349365234 0 105.5211944580078 C 0 47.24344635009766 47.24344635009766 0 105.5211944580078 0 Z">
		</path>
	</svg>
	<div id="Mask_Group_3">
	<svg style="width:inherit;height:inherit;overflow:visible;">
		<rect fill="url(#Mask_Group_3_c_pattern)" width="100%" height="100%"></rect>
			<pattern elementId="Mask_Group_3_c" id="Mask_Group_3_c_pattern" x="0" y="0" width="100%" height="100%">
				<image x="0" y="0" width="100%" height="100%" href="Mask_Group_3_c_pattern.png" xlink:href="Mask_Group_3_c_pattern.png"></image>
			</pattern>
			</svg>
		</div>
	<div id="Group_13">
		<svg class="Ellipse_12">
			<ellipse fill="rgba(0,167,158,0.184)" stroke="rgba(0,167,158,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Ellipse_12" rx="127.5" ry="127.5" cx="127.5" cy="127.5">
			</ellipse>
		</svg>
		<svg class="Ellipse_11">
			<ellipse fill="rgba(0,167,158,0.184)" stroke="rgba(0,167,158,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Ellipse_11" rx="127.5" ry="127.5" cx="127.5" cy="127.5">
			</ellipse>
		</svg>
		<svg class="Ellipse_10">
			<ellipse fill="rgba(0,167,158,0.184)" stroke="rgba(0,167,158,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Ellipse_10" rx="91.5" ry="91.5" cx="91.5" cy="91.5">
			</ellipse>
		</svg>
		<svg class="Ellipse_9">
			<ellipse fill="rgba(0,167,158,0.18)" stroke="rgba(0,167,158,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Ellipse_9" rx="23.5" ry="23.5" cx="23.5" cy="23.5">
			</ellipse>
		</svg>
	</div>
	<div id="Group_30">
		<svg class="Rectangle_27">
			<rect fill="rgba(0,167,158,1)" id="Rectangle_27" rx="0" ry="0" x="0" y="0" width="1920" height="109">
			</rect>
		</svg>
		<svg class="Rectangle_1">
			<rect fill="rgba(70,33,109,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_1" rx="0" ry="0" x="0" y="0" width="24" height="24">
			</rect>
		</svg>
		<div id="STOCKUP">
			<span>STOCKUP</span>
		</div>
		<div id="Register">
			<span>Register</span>
		</div>
		<div onclick="application.goToTargetView(event)" id="Login">
			<span>Login</span>
		</div>
		<div onclick="application.goToTargetView(event)" id="About">
			<span>About</span>
		</div>
		<div onclick="application.goToTargetView(event)" id="Contact">
			<span>Contact</span>
		</div>
		<div onclick="application.goToTargetView(event)" id="Features">
			<span>Features</span>
		</div>
	</div>
	<div id="Group_49">
		<div id="Group_2">
			<svg class="Rectangle_9_ct">
				<rect fill="rgba(255,255,255,1)" id="Rectangle_9_ct" rx="10" ry="10" x="0" y="0" width="610" height="110">
				</rect>
			</svg>
			<svg class="Ellipse_3_cu">
				<ellipse fill="rgba(0,0,0,1)" stroke="rgba(57,17,165,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Ellipse_3_cu" rx="35" ry="35" cx="35" cy="35">
				</ellipse>
			</svg>
			<div id="Samuel_G__commented__I_deposit">
				<span>Samuel G.</span><span style="font-style:normal;font-weight:normal;"> commented: I deposited $50.00 today! </span><span style="color:rgba(188,188,188,1);">2m</span>
			</div>
		</div>
		<div id="Group_39">
			<svg class="Polygon_1" viewBox="0 0 26.801 30.406">
				<path fill="rgba(8,0,0,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Polygon_1" d="M 13.40043067932129 0 L 26.80086135864258 30.40570259094238 L 0 30.40570259094238 Z">
				</path>
			</svg>
			<svg class="Polygon_2" viewBox="0 0 7.883 28.041">
				<path fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Polygon_2" d="M 3.941303014755249 0 L 7.882606029510498 28.04092025756836 L 0 28.04092025756836 Z">
				</path>
			</svg>
		</div>
	</div>
</div>
</body>
</html>