{% extends "home/base.html" %}
{% block content %}
<style>
  body {
    background-color: white;
    background-image: none;
  }

  h2 {
      font-size: 2rem;
      color: darkgrey;
  }

  .content-section {
    background-color: white;
    padding-left: 3rem;
    padding-right: 5rem; 
    padding-bottom: 4rem;
    margin-bottom: 35rem;
    margin-top: 6rem;
    /* border: 1px solid lightgrey; */
    border-radius: 5px;
    width: 100%;
  }


@media (min-width: 868px) {
  .content-section {width: 57%;}
}
</style>
    <div class="content-section pt-3">    
        <h2> You have been logged out</h2>
        <div class="border-top pt-3">
          <small class="text-muted"> Would you like to log in again?
            <a href="{% url 'login' %}"> Click Here</a></small>
          </div>
      </div>
{% endblock content %}