{% extends "home/base.html" %}
{% load crispy_forms_tags %}


{% block title %}
Reset Your Password 
{% endblock %}


{% block content %}
<style>
    body {
      background-color: white;
      background-image: none;
    }
  
    h2 {
        font-size: 2rem;
        color: darkgrey;
    }
  
    .content-section {
      background-color: white;
      padding-left: 3rem;
      padding-right: 5rem; 
      padding-bottom: 4rem;
      margin-bottom: 35rem;
      margin-top: 6rem;
      /* border: 1px solid lightgrey; */
      border-radius: 5px;
      width: 100%;
    }
  
  
  @media (min-width: 868px) {
    .content-section {width: 57%;}
  }
  </style>

<div class="content-section pt-3">
    <h1> Reset your Password </h1>
    <p> We've emailed you instructions for setting your password</p>
    <p> If you don't receive an email, please make sure you've entered
        the address you registered with.
    </p>
</div>
{% endblock %}