{% extends "users/searchskeleton.html" %}
{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    .content-section {
        padding-right: 26rem;
        border-radius: 5px;
        width: 100%;
      }
    .form-group {
        width:73%
    }
    </style>
    
    <div class="container">
            <div class="content-section pt-3">
                <h1> Sell {{symbol}} To Your Portfolio</h1>
                <hr>
                <!-- <p> </p> -->
                <!-- <div class="row"> -->
                    <form class= "row form-group" style="width: 132%" method="POST" >
                        <div class= "col">
                            {% csrf_token %}
                            {{  sellstockform |crispy }}
                        </div>
                        <div class="col" style="padding-left: 0rem"> 
                        <p style= "color: black"> Hello, {{user.first_name}} you are selling:
                                <br><span style= "font-weight: bold;" >{{ company }}</span>
                                <br> Your total return will be:
                                <br> <span style= "font-weight: bold;" >{{ gain|floatformat:2  }} </span>
                                <br> You will no longer receive dividends:
                                <br> <span style= "font-weight: bold;" >{{ dividend|floatformat:2 }}</span>
                            </p>
                            <button class="btn btn-primary" style="margin-top: 1rem; width: 6rem;" 
                            type="submit">Sell</button>
                            <a href="{% url 'stock-detail' id %}"><button class="btn btn-danger" style="
                                margin-top: 1rem;
                                margin-left: 1rem;
                                width: 6rem;
                            " type="button" data-dismiss="modal">Cancel</button></a>
                        </div>
                    <!-- </div> -->
                </form>
            </div>  
        </div>
{% endblock content %}