{% extends "users/searchskeleton.html" %}
{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
    <div class= "container" style="padding-top: 2rem;">
        <div class="row">
            <div class="col-lg-7">
                <h2 style= "color:black;padding-bottom: 2rem;"> {{ object.company }} ({{object.symbol}})</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                    <!-- <h2> Sector: {{ object.pk }}</h3> <button class= "btn ticker-tooltip" data-toggle="tooltip" data-placement="right" title="Sector" aria-describedby="tooltip"></button></br> -->
                    <h5 style= "color:black"> Sector: {{object.sector }}   </h5><button class= "btn ticker-tooltip" data-toggle="tooltip" title="Current Close" aria-describedby="tooltip"></button> <br/>
                    <h5 style= "color:black"> Broker:  {{object.broker}}  </h5> <button class= "btn ticker-tooltip" data-toggle="tooltip" title="Last Day Close Price" aria-describedby="tooltip"></button><br/>
                    <h5 style= "color:rgb(121, 121, 121)"> Price Purchased: ${{ object.price|floatformat:2 }}</h5><button class= "btn ticker-tooltip" data-toggle="tooltip" title="Last Amount Paid" aria-describedby="tooltip"></button><br/>
                    <h5 style= "color:rgb(121, 121, 121)"> Dividends: ${{ object.dividends|floatformat:2 }}  </h5><button class= "btn ticker-tooltip" data-toggle="tooltip" title=" Next Payment {{div_type.paymentDate}}" aria-describedby="tooltip"></button><br/>
                    <h5 style= "color:rgb(121, 121, 121)"> Shares: {{ object.n_shares }}</h5><button class= "btn ticker-tooltip" data-toggle="tooltip" title=" Next Payment {{div_type.paymentDate}}" aria-describedby="tooltip"></button><br/>
                    <h5 style= "color:rgb(121, 121, 121)"> Total Investment: ${{ object.tot_price|floatformat:2 }}</h5><button class= "btn ticker-tooltip" data-toggle="tooltip" title=" Next Payment {{div_type.paymentDate}}" aria-describedby="tooltip"></button><br/>
                    
                </div>
                {% if 'Current' in object.purchased  %}
                    <div class="col">
                        <h5 style= "color:rgb(121, 121, 121)">Current Price: {{ lastprice|floatformat:2 }}</h5>
                        <a href="{% url 'soldstock' %}"><button class="btn btn-primary" style="
                            margin-top: 1rem; "type="button" data-dismiss="modal">Sell Stock</button></a>
                        <a href="{% url 'userstockportfolio' %}">
                            <button class="btn btn-danger" style="
                            margin-top: 1rem;
                            margin-left: 1rem;
                            width: 6rem;
                        " type="button" data-dismiss="modal">Back</button></a>
                        <p style= "color: black;margin-top: 2rem; "> Hello, {{user.first_name}} you purchased:
                            <br><span style= "font-weight: bold;" >{{ object.company }}</span>
                            <br> At the price of:
                            <br> <span style= "font-weight: bold;" >{{ object.price|floatformat:2  }} </span>
                            <br> Receiving a dividends of:
                            <br> <span style= "font-weight: bold;" >{{ object.dividends|floatformat:2 }}</span>
                            <br> Your current profit is:
                            <br> <span style= "font-weight: bold;" >{{ gain|floatformat:2 }}</span>
                        </p>
                    </div>
                {% else %}
                    <div class="col">
                        <h5 style= "color:rgb(121, 121, 121)">Current Price: {{ lastprice|floatformat:2 }}</h5>
                        <a href="{% url 'userstockportfolio' %}">
                            <button class="btn btn-danger" style="
                            margin-top: 1rem;
                            margin-left: 0rem;
                            width: 6rem;
                        " type="button" data-dismiss="modal">Back</button></a>
                        <p style= "color: black;margin-top: 2rem; "> Hello, {{user.first_name}} you sold:
                            <br><span style= "font-weight: bold;" >{{ object.company }}</span>
                            <br> At the price of:
                            <br> <span style= "font-weight: bold;" >{{ sold.price|floatformat:2  }} </span>
                            <br> Your profit was:
                            <br> <span style= "font-weight: bold;" >{{ gain|floatformat:2 }}</span>
                            <br> On this date:
                            <br> <span style= "font-weight: bold;" >{{ dates }}</span>
                        </p>
                    </div>
                {% endif %}
        </div>
    </div>


{% endblock %}